<h1>Add a New Hospital</h1>

<form action="/hospitals" method="post">

  <p>
    <label>Hospital name:</label>
    <input type="text" name="name">
  </p>
  <p>
    <label>Country:</label>
    <input type="text" name="country">
  </p>
  <p>
    <label>State:</label>
    <input type="text" name="state">
  </p>
  <p>
    <label>Zip:</label>
    <input type="text" name="zip">
  </p>
  <p>
    <label>City:</label>
    <input type="text" name="city">
  </p>
  <p>
    <label>Photo url:</label>
    <input type="text" name="photourl">
  </p>
  <p>
    <label>Year Established:</label>
    <input type="text" name="year">
  </p>
  <p>
    <label>Address:</label>
    <input type="text" name="address">
  </p>
  <p>
    <label>Type (Primary / Secondary / Tertiary care):</label>
    <input type="text" name="type">
  </p>
  <p>
    <label>Phone:</label>
    <input type="text" name="phone">
  </p>
  <p>
    <label>Email:</label>
    <input type="text" name="email">
  </p>
  <p>
    <label>Website:</label>
    <input type="text" name="url">
  </p>
  <p>
    <label>Specilization #1:</label>
    <input type="text" name="specilization1">
  </p>
  <p>
    <label>Specilization #2:</label>
    <input type="text" name="specilization2">
  </p>
  <p>
    <label># of Beds:</label>
    <input type="text" name="beds">
  </p>

  <input type="submit"> or <a href="/hospitals">Cancel</a>

</form>
