<h1>Add a New Doctor</h1>

<form action="/doctors" method="post">

  <p>
    <label>Doctor name:</label>
    <input type="text" name="name">
  </p>
  <p>
    <label>Profile Page (linkedin, wikipedia, other url):</label>
    <input type="text" name="profile">
  </p>
  <p>
    <label>Age:</label>
    <input type="text" name="age">
  </p>
  <p>
    <label>Photo url:</label>
    <input type="text" name="photourl">
  </p>
  <p>
    <label>Specilization #1:</label>
    <input type="text" name="specilization1">
  </p>
  <p>
    <label>Specilization #2:</label>
    <input type="text" name="specilization2">
  </p>
   <p>
    <label>Work History:</label>
    <input type="text" name="work">
  </p>
  <p>
    <label>Education Background:</label>
    <input type="text" name="education">
  </p>

  <input type="submit"> or <a href="/doctors>Cancel</a>

</form>
